.counter-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col {
	margin: 8px 8px 8px 0;
}

h1 {
text-align: center;
font-size:34px;
}
