.app-tabs-wrapper {
	display: flex;
	flex-direction: column;

	nav {
		span {
			position:absolute;
			right: 0;
		}
	}
}

.content-wrapper {
	padding:12px;
	flex-grow: 1;

	.tab-panel {
		width:100%;
	}
}
.logout {

	position:absolute;
	right: 16px;

	height:100%;

	display:flex;
	justify-content: center;
	align-items: center;

	&__icon {
		width:24px;
		height: 24px;

		&:hover {
			cursor: pointer;
		}
	}
}
